body{
     background: linear-gradient(135deg, #ffbbff 0%, #ffc368  100%)
}
nav {
    display: inline block;
}


.left-nav img {
    height: 30px;
}
.left-nav p {
    margin-left:42px ;
    position: relative;
    bottom: 42px;
}

.right-nav{
    float: right;
    position: relative;
    bottom: 80px;
}

.login {
    height: 30px;
    width: 60px;
    color: white;
    background-color: black;
    border-radius: 21px;
}

.sign {
    height: 30px;
    width: 110px;
    border-radius: 21px;
    border: 0.1px solid black;
    background-color: white;
}
.ask-symbole {
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

.center {
    display: inline-block;
    margin-top:5px;
    margin-left: 400px;
    
}

.center h1 {
    font-size: 250%;
}


.title button {
    font-size: 20px;
    position: relative;
    left: 950px;
    bottom: 35px;
    border-radius: 30px;
    border: 0.1px solid rgb(136, 136, 136);
    background-color: white;
    width: 30px;
    height: 30px;
}

figure{
    display: inline-block;
}
.photos img{
    width:100px;
    height: 200px;
    position: relative;
    right: 50px;
    border-radius: 20px ;
}

.bottom {
    display: inline-block;
    margin-top:5px;
    margin-left: 400px;
    margin-right: 600px;
}

.bottom button{
    font-size: 20px;
    position: relative;
    left: 950px;
    bottom: 35px;
    border-radius: 30px;
    border: 0.1px solid rgb(136, 136, 136);
    background-color: white;
    width: 30px;
    height: 30px;
}
.small-cards{
    padding-right: 100px;
    padding-bottom: 100px;
}
.bottom img {
    display: inline-block;
    width:50px;
    height: 50px;
    border-radius: 10px ;
}