nav {
    display: inline block;

}
.left-nav{
    float: left;
}
.left-nav img {
    height: 30px;
}
.left-nav p {
    margin-left:42px ;
    position: relative;
    bottom: 42px;
}

.middle-nav {
    padding-left: 35%;
}
.middle-nav a {
    color: grey;
    text-decoration: none;
    padding-left: 12px;
}

.right-nav{
    float: right;
    position:relative;
    bottom: 20px;
}

.login {
    height: 30px;
    width: 60px;
    color: white;
    background-color: black;
    border-radius: 21px;
}

.sign {
    height: 30px;
    width: 110px;
    border-radius: 21px;
    border: 0.1px solid black;
    background-color: white;
}
.ask-symbole {
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}



section {
    margin-top:400px;
    margin-left: 750px;
    margin-right: 750px;
}


.question-box {
    background-color: white;
    opacity: 0.5;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 800px;
    height: 100px;
    position: relative;
    right: 50%;
}

.box {
    border: 0px solid white;
    background-color: white;
    opacity: 0.5;
    font-size: 18px;
    padding-left: 12px;
    padding-top: 12px;
}

.left-button button{
    height: 35px;
    margin-top: 21px;
    margin-left: 12px;
    background-color: white;
    border: 0.1px solid rgb(224, 224, 224);
    border-radius: 20px;
    color: rgb(49, 49, 49);
}

.right-button button{
    height: 40px;
    width: 60px;
    float: right;
    position: relative;
    bottom: 40px;
    right: 21px;
    background-color: white;
    border: 0.1px solid rgb(224, 224, 224);
    border-radius: 40px;

}


 